<div class="p-3">
  <div class="jumbotron">
    <h2 class="display-4">Hello, world!</h2>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      featured
      content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn blue-gradient" role="button">Learn more</a>
  </div>

  <div class="d-flex justify-content-between">
    <!-- Card -->
    <div class="card card-image col-md-5 px-0"
      style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
          <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
          <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.</p>
          <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a>
        </div>
      </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card card-image col-md-5 px-0"
      style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
          <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
          <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.</p>
          <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a>
        </div>
      </div>

    </div>
    <!-- Card -->
  </div>
</div>
